.introducao {
    align-items: center;
}

.introducao h1 {
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 30px;
    position: relative;
}

.introducao h1::before {
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url("../img/detalhe.svg") no-repeat center;
    position: absolute;
    top: -15px;
    left: -40px;
    z-index: -1;
}

.introducao p {
    font-size: 1.5rem;
    color: #525252;
}

@media (max-width:1000px) {
    .introducao h1 {
        font-size: 3rem;
    }
}

@media (max-width:800px) {
    .introducao {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .introducao img {
        width: 70%;
        /* justify-self: center; */
    }

    .introducao h1 {
        font-size: 2.5rem;
    }

    .introducao p {
        font-size: 1rem;
    }

    .introducao h1::before {
        background: url("../img/detalhe-menor.svg") no-repeat center;
        width: 63px;
        height: 49px;
        left: -16px;
        top: -3px;
    }
}

@media (max-width:600px) {
    .introducao h1 {
        font-size: 2.25rem;
    }
}

@media (max-width:500px) {
    .introducao {
        grid-template-columns: 1fr;
    }
    .introducao img {
        display: none;
    }
    .introducao h1 {
        font-size: 3rem;
    }
}

@media (max-width:415px) {

    .introducao h1 {
        font-size: 2.5rem;
    }
}