.introducao {
    align-items: center;
}

.introducao h1 {
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 30px;
    position: relative;
}

.introducao h1::before {
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url("../img/detalhe.svg") no-repeat center;
    position: absolute;
    top: -15px;
    left: -40px;
    z-index: -1;
}

.introducao p {
    font-size: 1.5rem;
    color: #525252;
}

@media (max-width:1000px) {
    .introducao h1 {
        font-size: 3rem;
    }
}

@media (max-width:800px) {
    .introducao {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .introducao img {
        width: 60%;
        justify-self: center;
    }

    .introducao h1 {
        font-size: 2rem;
    }

    .introducao p {
        font-size: 0.75rem;
    }

    .introducao h1::before {
        width: 10%;
        height: 10%;
        left: 0px;
        top: -8px;
    }
}

@media (max-width:600px) {
    .introducao h1 {
        font-size: 1.5rem;
    }
}

@media (max-width:400px) {
    .introducao {
        grid-template-columns: 1fr;
    }

    .introducao img {
        display: none;
    }
}